<ul class="media-list">
  <% recruits.each do |recruit| %>
    <li class="media">
      <div class="media-body">
        <div>
          <p><%= recruit.title %></p>
        </div>
        <div>
          <%= link_to "詳細", recruit_path, class: 'btn btn-info' %>
          <%= link_to "削除", recruit, method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: 'btn btn-danger' %>
        </div>
      </div>
    </li>
  <% end %>
</ul>