<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">企業管理</div>
  <div class="list-group list-group-flush">
    <%= link_to "登録企業一覧", companies_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "転職希望者一覧", users_path, class: "list-group-item list-group-item-action bg-light" %>
  </div>
</div>

