<ul class="media-list">
  <% members.each do |member| %>
    <li class="card-deck">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-sm">
                <%= member.name %>
              </div>
              <div class="col-xs">
                <%= link_to "詳細", member_path, class: 'btn btn-outline-info' %>
                <%= link_to "削除", member, method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: 'btn btn-outline-danger' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate @members %>
</ul>

